@model IEnumerable<StoreSystem.Web.Models.ClientViewModels.ClientInfoViewModel>

@{
    ViewData["Title"] = "Clients";
}

<h1>Store System Clients</h1>


<div class="row">
    <div class="col-12 right">
        <a asp-action="Create"><button class="stakbutton stakfsize15 right"><span>Create New</span></button></a>
    </div>
</div>
<div class="box cardtrans">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreUsername)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreUsername)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientID"><button class="btn btn-outline-info btn-sm">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@item.ClientID"><button class="btn btn-outline-info btn-sm">Details</button></a>
                        <a asp-action="Delete" asp-route-id="@item.ClientID"><button class="btn btn-outline-danger btn-sm">Delete</button></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
