@model StoreSystem.Web.Models.SaleViewModels.SaleIndexViewModel

@{
    ViewData["Title"] = "Sales";
}

<h1>Store System sales list</h1>

@if (Model.CanEdit)
{
    <div class="row">
        <div class="col-12 right">
            <a asp-action="Create"><button class="stakbutton stakfsize15 right"><span>Create New</span></button></a>
        </div>
    </div>
}

<div class="box forpdfsave">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th class="center">
                    Num
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesList.FirstOrDefault().SaleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesList.FirstOrDefault().CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesList.FirstOrDefault().ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesList.FirstOrDefault().Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesList.FirstOrDefault().Total)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0; }

            @foreach (var item in Model.SalesList)
            {
                count = count + 1;

                @if (Model.NotClosedSales.Any(x => x == item.SaleID))
                {
                    if (item.DeadlineDate.Date < DateTime.Now.Date)
                    {
                        @:<tr style="color:red">
                        }
                        else
                        {
                            @:<tr style="color:darkgreen">
                        }
                    }
                    else
                    {
                        @:<tr>
                    }

                <td class="center">
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleID)
                </td>
                <td>
                    @if (item.CreatedOn != null)
                    {
                        @item.CreatedOn.ToShortDateString();
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td align="right">
                    <a asp-action="Details" asp-route-id="@item.SaleID"><button class="btn btn-outline-info btn-sm">Details</button></a>
                    @if (Model.CanEdit)
                    {
                        <a asp-action="Edit" asp-route-id="@item.SaleID"><button class="btn btn-outline-info btn-sm">Edit</button></a>
                        <a asp-action="Delete" asp-route-id="@item.SaleID"><button class="btn btn-outline-danger btn-sm">Delete</button></a>
                    }
                </td>
            @:</tr>
        }
        </tbody>
    </table>
</div>
        <button class="btn btn-info" onclick="savePdf();">Save to pdf</button>

@section Scripts
{
<script>


    function savePdf() {
        var htmlContent = '';
        $('.forpdfsave').each(function () {
            htmlContent += this.outerHTML;
        });

        var modelg = {
            Source: htmlContent
        };
        alert(modelg.Source);
        $.ajax({
            method: 'post',
            url: "/PdfFromSource",
            data: JSON.stringify(modelg),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(htmlContent);
                console.log(data);
                //reloadDialog = data.isSucceded;
                //$("#dialog").dialog("open");
                //$("#dialogtext").text(data.text);
            }
        });
    }
    </script>
}