@model IEnumerable<StoreSystem.Data.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers list</h1>

@if (User.IsInRole(ROLES.Admin) || User.IsInRole(ROLES.OfficeStaff))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Suppliers" asp-action="Index">
        <p>
            Supplier name: <input type="text" class="form-control" name="searchString">
            <div>
                <input type="submit" class="btn btn-outline-info" value="Search" />
                <a asp-action="Index"><input type="button" class="btn btn-outline-info" value="Reset" /></a>
            </div>
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreUserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreUserId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SupplierID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SupplierID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SupplierID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <h1></h1>
    <a asp-controller="Home" asp-action="Index">Go to Home</a>
</div>
