@model List<StoreUserViewModel>

@{
    ViewData["Title"] = "UsersList";
}

<h1>Users List</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<form asp-controller="StoreUsers" asp-action="Index">
    <p>
        User name: <input type="text" class="form-control" name="searchString">
        <div>
            <input type="submit" class="btn btn-outline-info" value="Search" />
            <a asp-action="UsersList"><input type="button" class="btn btn-outline-info" value="Reset" /></a>
        </div>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <td>
                UserName
            </td>
            <td>
                Email
            </td>
            <td>
                Role
            </td>
            <td></td>
            <td></td>
        </tr>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @*<a asp-controller="StoreUsers" asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
            <a asp-controller="StoreUsers" asp-action="Details" asp-route-id="@item.UserName">Details</a> |*@
                <a asp-area="Admin" asp-controller="StoreUsers" asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
            </td>
            <td>
                <a asp-area="Admin" asp-controller="StoreUsers" asp-action="Configure" asp-route-id="@item.UserName">Configure</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-area="Admin" asp-controller="StoreConfigurations" asp-action="Index">Back to StoreConfigurations</a>
</div>